/* Now Playing Column */
.nowPlayingColumn-2sl4cE{
  display:var(--now-playing);
}
/* Goodbye Nitro Tab */
#private-channels-1{
display:var(--nitro-channel);
}

/* Public Servers + Message Button From Friend List.  Why click the button when you clicking the container does the same thing? */
div.circleIconButton-jET_ig[aria-label="Explore Public Servers"]{
  display:var(--public-servers)
}
.actionButton-uPB8Fs[aria-label="Message"]{
display:var(--message-button)
}

/* Blocked messages */
div[class^="blockedSystemMessage-"]{
  display:var(--blocked-messages)
} 
div[class*="blockedSystemMessage-"]{
  display:var(--blocked-messages)
} 
/* Goodbye Nitro Part 2 */
button[aria-label="Send a gift"]{
  display:var(--nitro-gift)
} 
/* GIF button is no more.  You can access the GIF menu from the emoji menu. */
button[aria-label="Open GIF picker"]{
  display:var(--gif-button)
} 
/* Stickers are a new feature not available yet in a bunch of countries */
button[aria-label="Open sticker picker"]{
  display:var(--sticker-button)
} 
/* Add Friend to DM button, basically creates a group chat.  Seems a bit useless, when you can create a group chat from the friends menu */
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Add Friends to DM"]{
  display:var(--add-friend-to-dm)
}
/* Button that redirects to help page */
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Help"]{
  display:var(--help)
}
/* Discord logo  */
.wordmark-2iDDfm > svg { display: var(--logo); } 

/* Bar next to active server */
.pill-31IEus{
display:var(--active-server);
}
/* Centers the nametags after removing statuses  */
.discordTag-2_tqUA.nameTag-m8r81H{display: flex; align-items: center;}

/* All statuses.  Disable if you want to see online <- Not applicable anymore  */
.subtext-24R4-w{

  display:var(--statuses)
}
.subText-1KtqkB{
  display:var(--statuses)
}
/* Bot tag */
.botTag-3W9SuW.botTagRegular-2HEhHi.botTag-2WPJ74.px-10SIf7{
  display:var(--bot)
}


/* Nitro */
.premiumIcon-1rDbWQ.icon-1A2_vz{
  display:var(--nitro-badge)
}




/* Padding on friends list */
.userInfo-2zN2z8{
  padding:3px
}


/*tooltips */
.tooltip-2QfLtc{
  display:var(--tooltips-display)
}


/* Invite your friends panel / Boost server panel */
.channelNotice-1-XFjC{
  display:var(--invite-boost)
}

/* statuses */

#app-mount .wrapper-3t9DeA svg:not(:root) {
  overflow: visible;
}
#app-mount .wrapper-3t9DeA[aria-label*="Do Not Disturb"] foreignObject[height="32"] {
  mask:url(#svg-mask-avatar-status-round-32) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Do Not Disturb"]  foreignObject[height="80"] {
  mask:url(#svg-mask-avatar-status-round-80) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Online"] foreignObject[height="32"] {
  mask:url(#svg-mask-avatar-status-round-32) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Online"]  foreignObject[height="80"] {
  mask:url(#svg-mask-avatar-status-round-80) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Idle"] foreignObject[height="32"] {
  mask:url(#svg-mask-avatar-status-round-32) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Idle"]  foreignObject[height="80"] {
  mask:url(#svg-mask-avatar-status-round-80) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Offline"] foreignObject[height="32"] {
  mask:url(#svg-mask-avatar-status-round-32) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Offline"]  foreignObject[height="80"] {
  mask:url(#svg-mask-avatar-status-round-80) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Invisible"] foreignObject[height="32"] {
  mask:url(#svg-mask-avatar-status-round-32) 
}
#app-mount .wrapper-3t9DeA[aria-label*="Invisible"]  foreignObject[height="80"] {
  mask:url(#svg-mask-avatar-status-round-80) 
}




#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
  cy: -8 !important;
  cx: -8.5 !important;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
  cy: -8 !important;
  cx: -2.25 !important;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
  cy: -8 !important;
  cx: 4 !important;
}
#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
  x: 22;
  y: 22;
}
#app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
  x: -49;
  y: -53;
}



#app-mount .wrapper-3t9DeA > svg > foreignObject img {
  border-radius: var(--rs-avatar-shape);
}

#app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect {
  rx: calc(var(--rs-avatar-shape) * 2) !important;
  ry: calc(var(--rs-avatar-shape) * 2) !important;
}
#app-mount .wrapper-3t9DeA rect {
  x: 60;
  y: 60;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
          mask: none;
  display: block !important;
  rx: var(--rs-avatar-shape) !important;
  ry: var(--rs-avatar-shape) !important;

  stroke-width: var(--rs-width);
}

#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online] {
  stroke: var(--rs-online-color);

  
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
  stroke: var(--rs-idle-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd] {
  stroke: var(--rs-dnd-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
  stroke: var(--rs-streaming-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
  
  stroke: var(--rs-offline-color);
}
#app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] {
  stroke: var(--rs-invisible-color);
}
#app-mount .wrapper-3t9DeA rect[x="16"] {
  width: 8px;
  height: 8px;
  x:16;
  y:16;
}
#app-mount .wrapper-3t9DeA rect[x="28"] {
  width: 28px;
  height: 28px;
  overflow: visible;
}
#app-mount .wrapper-3t9DeA[style*="width: 80px;"] {
  position: relative;
  margin-right: 0 !important;
  
}
#app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect {

  width: 16px;
  height: 16px;
  pointer-events: none;

}


#app-mount .wrapper-3t9DeA[style*="width: 80px;"][style*="width:80px;"]:after {
  left: unset;
  right: -2px;
  top: unset;
  bottom: -2px;
  transform: none;
}
#app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect {
  width: 10px;
  height: 10px;
  x: 7.3;
  y: 5;
  position: relative;
  z-index: 0;
}

#app-mount .message-1PNnaP .mask-1l8v16 img {
  -webkit-clip-path: circle(calc(19px - var(--rs-small-spacing)));
          clip-path: circle(calc(19px - var(--rs-small-spacing)));
}
#app-mount .memberOffline-2lN7gt img {
  
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .header-QKLPzZ .wrapper-3t9DeA {
  margin-right: 20px !important;
}
#app-mount .offline-3nJYBR img {
  
  -webkit-clip-path: none !important;
          clip-path: none !important;
}


#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img {

  width: 32px;
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img {

  width: 80px;
}

#app-mount .avatarHint-1qgaV3 foreignObject[mask*=mobile] {
  mask:url(#svg-mask-avatar-status-round-80) !important;
        width:80px;
        height:80px;
  


}

#app-mount .wrapper-3t9DeA:before {
  content: none !important;
}









