

/* Now Playing Column */
#app-mount .nowPlayingColumn-2sl4cE{
    display:none
}
/* Goodbye Nitro Tab */
#app-mount #private-channels-1{
display:none
}

/* Public Servers + Message Button From Friend List.  Why click the button when you clicking the container does the same thing? */
div.circleIconButton-jET_ig[aria-label="Explore Public Servers"], .actionButton-uPB8Fs[aria-label="Message"]{
    display:none
}

/* Blocked messages */
div[class^="blockedSystemMessage-"]{
    display:none
} 
div[class*="blockedSystemMessage-"]{
    display:none
} 
/* Goodbye Nitro Part 2 */
button[aria-label="Send a gift"]{
    display:none
} 
/* GIF button is no more.  You can access the GIF menu from the emoji menu. */
button[aria-label="Open GIF picker"]{
    display:none
} 
/* Stickers are a new feature not available yet in a bunch of countries */
button[aria-label="Open sticker picker"]{
    display:none
} 
/* Add Friend to DM button, basically creates a group chat.  Seems a bit useless, when you can create a group chat from the friends menu */
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Add Friends to DM"]{
    display:none
}
/* Button that redirects to help page */
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Help"]{
    display:none
}
/* Discord logo  */
.wordmark-2iDDfm > svg { display: none; } 

/* Just custom statuses 1. Friends page 2.   */
.activity-2myFBH{
    display:none
}
.activityText-OW8WYb .icon-15YQ1T .emoji.emoji-2cWBLE.activityEmoji-1AR8K6{
    display:none
}
.activity-2Gy-9S{
    display:none
}
/* Bar next to active server */

/* Centers the nametags after removing statuses  */
.discordTag-2_tqUA.nameTag-m8r81H{display: flex; align-items: center;}
/* All statuses.  Disable if you want to see online  */
.subtext-24R4-w{

    display:none
}
.subText-1KtqkB{
    display:none
}
/* Bot tag */
.botTag-3W9SuW.botTagRegular-2HEhHi.botTag-2WPJ74.px-10SIf7{
    display:none
}
/* Sidebar roles color 
.roleColor-rz2vM0{
   color:#8E9297 !important
}*/

/* Nitro */
.premiumIcon-1rDbWQ.icon-1A2_vz{
    display:none
}

/* Role colors in chat 
.username-1A8OIy.clickable-1bVtEA{
    color:#8E9297 !important
}*/


/* Padding on friends list */
.userInfo-2zN2z8{
    padding:3px
}
/* everything at the start of a new channel 
.buttonContainer-2GVjL_, .size16-1P40sf.description-1sDbzZ, .header-3uLluP, .emptyChannelIcon-cc932w{
    display:none
}*/

/* tooltips 
.tooltip-2QfLtc{
    display:none
}*/

  /* Replace Add Friend with a + 
  .item-3HknzM.item-PXvHYJ[aria-label="Add Friend"] > span{
    display: none; 


  }
  .item-3HknzM.item-PXvHYJ[aria-label="Add Friend"]:after{

    content:"+";
    font-weight: bold;


  }*/
/* statuses */

#app-mount .wrapper-3t9DeA svg:not(:root) {
    overflow: visible;
  }
  #app-mount .wrapper-3t9DeA foreignObject {
    -webkit-mask: none;
            mask: none;
  }
  #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
    cy: -8 !important;
    cx: -8.5 !important;
  }
  #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
    cy: -8 !important;
    cx: -2.25 !important;
  }
  #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
    cy: -8 !important;
    cx: 4 !important;
  }
  #app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
    x: 22;
    y: 22;
  }
  #app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
    x: -49;
    y: -53;
  }


  /*#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
   
    fill: rgba(0, 0, 0, 0.5) !important;
    width: 30px;
    height: 30px;
    x: 1;
    y: 1;
    mask:url(#svg-mask-avatar-status-round-32) 
  }*/
  #app-mount .wrapper-3t9DeA > svg > foreignObject img {
    border-radius: var(--rs-avatar-shape);
  }
  #app-mount .wrapper-3t9DeA > svg > foreignObject:not(:only-child) img {
    -webkit-clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
            clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
  }
  #app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect {
    rx: calc(var(--rs-avatar-shape) * 2) !important;
    ry: calc(var(--rs-avatar-shape) * 2) !important;
  }
  #app-mount .wrapper-3t9DeA rect {
    x: 60;
    y: 60;
    width: 100%;
    height: 100%;
    -webkit-mask: none;
            mask: none;
    display: block !important;
    rx: var(--rs-avatar-shape) !important;
    ry: var(--rs-avatar-shape) !important;
  
    stroke-width: var(--rs-width);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online] {
    stroke: var(--rs-online-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
    stroke: var(--rs-idle-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd] {
    stroke: var(--rs-dnd-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
    stroke: var(--rs-streaming-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
    stroke: var(--rs-offline-color);
  }
  #app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] {
    stroke: var(--rs-invisible-color);
  }
  #app-mount .wrapper-3t9DeA rect[x="16"] {
    width: 8px;
    height: 8px;
    x:16;
    y:16;
  }
  #app-mount .wrapper-3t9DeA rect[x="28"] {
    width: 40px;
    height: 40px;
    overflow: visible;
  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"] {
    position: relative;
    margin-right: 0 !important;
    
  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect {

    width: 16px;
    height: 16px;
    pointer-events: none;

  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"] img {
    -webkit-clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
            clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"][style*="width:80px;"]:after {
    left: unset;
    right: -2px;
    top: unset;
    bottom: -2px;
    transform: none;
  }
  #app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect {
    width: 10px;
    height: 10px;
    x: 7.3;
    y: 5;
    position: relative;
    z-index: 0;
  }
  #app-mount .avatarHint-1qgaV3 foreignObject {
    -webkit-mask: none;
            mask: none;
          width:80px;
          height:80px;
          x:-1.4;
          y:-1.5;


  }
  #app-mount .avatarHint-1qgaV3 .avatarHintInner-Dco91E {
    border-radius: var(--rs-avatar-shape) !important;
    padding-top: 0;
    width: calc(100% - var(--rs-width) * 4);
    height: calc(100% - var(--rs-width) * 4);
    margin-top: calc(var(--rs-width) + 2px);
    margin-left: calc(var(--rs-width) + 2px);
  }
  #app-mount .message-1PNnaP .mask-1l8v16 img {
    -webkit-clip-path: circle(calc(19px - var(--rs-small-spacing)));
            clip-path: circle(calc(19px - var(--rs-small-spacing)));
  }
  #app-mount .memberOffline-2lN7gt img {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  #app-mount .header-QKLPzZ .wrapper-3t9DeA {
    margin-right: 20px !important;
  }
  #app-mount .offline-3nJYBR img {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  
  #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] {
    width: calc(100% + 4px);
  }
  #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img {
    width: 32px;
  }
  #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img {
    width: 80px;
  }

  
  #app-mount .wrapper-3t9DeA:before {
    content: none !important;
  }











/*
#app-mount .avatarHint-1qgaV3 foreignObject[mask*=mobile][height="80"]{ 

    mask:url(#svg-mask-avatar-status-round-80)
}
#app-mount .avatarHint-1qgaV3 foreignObject[mask*=mobile][height="32"]{ 

    mask:url(#svg-mask-avatar-status-round-32)
}


#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][height="32"]{
    mask:url(#svg-mask-avatar-status-round-32) !important;
      
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][height="80"]{
    mask:url(#svg-mask-avatar-status-round-80) !important;
    
      
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] + rect[width="10"] {

    height:10px !important;
    transform: translate(0,5px);
    mask:url(#svg-mask-status-online)
   }
   #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] + rect[width="16"] {

    height:16px !important;
    transform: translate(0,8px);
    mask:url(#svg-mask-status-online)
   }

   #app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd]  {
    
    fill:#DC4141;

  }
  #app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
    
    fill:#636b75 /*#68727E; 
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
  
  fill:#F09F19;

}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {

  fill:#523289;

}

/*
   #app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd]  {
    
    fill:#DC4141;

  }
  #app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
    
    fill:#636b75 /*#68727E; 
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
  
  fill:#F09F19;

}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {

  fill:#523289;

}
*/



/*

foreignObject{
    mask:url(#svg-mask-avatar-status-round-32) !important;
}
rect.pointerEvents-2zdfdO{
    width: 10px !important;
    height: 10px !important;
    transform: translate(22, 22);
    

}*/







/*
#app-mount .wrapper-3t9DeA svg:not(:root) {
    overflow: visible;
  }
  #app-mount .wrapper-3t9DeA foreignObject {
    -webkit-mask: none;
            mask: none;
  }
  #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
    cy: -8 !important;
    cx: -8.5 !important;
  }
  #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
    cy: -8 !important;
    cx: -2.25 !important;
  }
  #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
    cy: -8 !important;
    cx: 4 !important;
  }
  #app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
    x: 0;
    y: 0;
  }
  #app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
    x: -49;
    y: -53;
  }
  #app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
    fill: rgba(0, 0, 0, 0.5) !important;
    width: 30px;
    height: 30px;
    x: 1;
    y: 1;
  }
  #app-mount .wrapper-3t9DeA > svg > foreignObject img {
    border-radius: var(--rs-avatar-shape);
  }
  #app-mount .wrapper-3t9DeA > svg > foreignObject:not(:only-child) img {
    -webkit-clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
            clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
  }
  #app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect {
    rx: calc(var(--rs-avatar-shape) * 2) !important;
    ry: calc(var(--rs-avatar-shape) * 2) !important;
  }
  #app-mount .wrapper-3t9DeA rect {
    x: 0;
    y: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: none;
            mask: none;
    display: block !important;
    rx: var(--rs-avatar-shape) !important;
    ry: var(--rs-avatar-shape) !important;
    fill: transparent !important;
    stroke-width: var(--rs-width);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online] {
    stroke: var(--rs-online-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
    stroke: var(--rs-idle-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd] {
    stroke: var(--rs-dnd-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
    stroke: var(--rs-streaming-color);
  }
  #app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
    stroke: var(--rs-offline-color);
  }
  #app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] {
    stroke: var(--rs-invisible-color);
  }
  #app-mount .wrapper-3t9DeA rect[x="16"] {
    width: 24px;
    height: 24px;
  }
  #app-mount .wrapper-3t9DeA rect[x="28"] {
    width: 40px;
    height: 40px;
    overflow: visible;
  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"] {
    position: relative;
    margin-right: 0 !important;
  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect {
    width: 80px;
    height: 80px;
    pointer-events: none;
  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"] img {
    -webkit-clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
            clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
  }
  #app-mount .wrapper-3t9DeA[style*="width: 80px;"][style*="width:80px;"]:after {
    left: unset;
    right: -2px;
    top: unset;
    bottom: -2px;
    transform: none;
  }
  #app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect {
    width: 32px;
    height: 32px;
    x: -14.5;
    y: -17;
    position: relative;
    z-index: 0;
  }
  #app-mount .avatarHint-1qgaV3 foreignObject {
    -webkit-mask: none;
            mask: none;
  }
  #app-mount .avatarHint-1qgaV3 .avatarHintInner-Dco91E {
    border-radius: var(--rs-avatar-shape) !important;
    padding-top: 0;
    width: calc(100% - var(--rs-width) * 4);
    height: calc(100% - var(--rs-width) * 4);
    margin-top: calc(var(--rs-width) + 2px);
    margin-left: calc(var(--rs-width) + 2px);
  }
  #app-mount .message-1PNnaP .mask-1l8v16 img {
    -webkit-clip-path: circle(calc(19px - var(--rs-small-spacing)));
            clip-path: circle(calc(19px - var(--rs-small-spacing)));
  }
  #app-mount .memberOffline-2lN7gt img {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  #app-mount .header-QKLPzZ .wrapper-3t9DeA {
    margin-right: 20px !important;
  }
  #app-mount .offline-3nJYBR img {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  
  #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] {
    width: calc(100% + 4px);
  }
  #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img {
    width: 32px;
  }
  #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img {
    width: 80px;
  }

  
  #app-mount .wrapper-3t9DeA:before {
    content: none !important;
  }*/
